<form name="formScope" ng-init="setForm(formScope)" style="height: 100%">
    <div class="blade-static __expanded" ng-if="blade.isNew">
        <div class="form-group">
            <label class="form-label">{{ 'content.blades.edit-asset.labels.asset-name' | translate }}</label>
            <div class="form-input">
                <input focus-on="" required class="form-control" ng-model="blade.currentEntity.name" placeholder="{{ 'content.blades.edit-asset.placeholders.asset-name' | translate }}" name="name" ui-validate=" 'validators.webSafeFileNameValidator($value)' " />
            </div>
            <div class="form-error" ng-show="formScope.name.$dirty">
                <span ng-show="formScope.name.$error.validator">{{ 'content.blades.edit-asset.validations.name-invalid' | translate }}</span>
            </div>
        </div>
    </div>

    <div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/create.tpl.html'" ng-if="blade.isNew"></div>

    <div class="blade-content __xxlarge-wide">
        <ui-codemirror required ng-model="blade.currentEntity.content" ui-codemirror-opts="editorOptions"></ui-codemirror>
    </div>
</form>
