<div class="blade-static" ng-if="blade.currentEntities.length">
  <div class="form-group">
    <div class="form-input __search">
      <input placeholder="{{'platform.placeholders.search-keyword' | translate }}" ng-model="filter.keyword" ng-keyup="$event.which === 13 && filter.criteriaChanged()">
      <button class="btn __other" style="position: relative;right: 45px;">
        <i class="btn-ico fa fa-remove" title="Clear" ng-click="filter.keyword=null;filter.criteriaChanged()"></i>
      </button>
    </div>
  </div>
</div>
<div class="blade-static __bottom" ng-if="pageSettings.itemsPerPageCount < pageSettings.totalItems" ng-include="'pagerTemplate.html'"></div>
<div class="blade-content __xlarge-wide">
  <div class="blade-inner">
    <div class="inner-block">
      <div class="form">
        <div class="tile-group six" ng-repeat-start="data in blade.currentEntities | orderBy:'store.name'">
          <div class="tile double __brand" ng-click="blade.openStore(data.store)">
            <div class="tile-descr" style="font-size: 18px; line-height: 30px">{{data.store.name}}</div>
            <div class="tile-image">
              <img fallback-src="Modules/$(VirtoCommerce.Content)/Content/logo.png" ng-src="{{data.activeThemeName ? ('api/content/themes/' + data.storeId + '?relativeUrl=' + data.activeThemeName +'/logo.png') : 'Modules/$(VirtoCommerce.Content)/Content/logo.png'}}" />
            </div>
          </div>
          <div class="tile quadro wide mini __informer" ng-if="!data.activeThemeName" ng-click="blade.openThemes(data.store)">
            <p>{{ 'content.blades.content-main.labels.no-active-theme' | translate }}</p>
          </div>
          <div class="tile quadro wide mini" ng-if="data.activeThemeName" ng-click="blade.openThemes(data.store)">
            <div title="{{data.activeThemeName}}" class="tile-t" style="font-size: 18px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: 10px;">
              {{ 'content.blades.content-main.labels.active-theme' | translate }} {{data.activeThemeName}}
            </div>
          </div>
          <div class="tile vc-content-widget" ng-click="blade.openThemes(data.store)">
            <div class="vc-content-widget__icon">
              <i class="fa fa-code"></i>
            </div>
            <div class="vc-content-widget__title">
              {{ 'content.blades.content-main.labels.themes' | translate }}
            </div>
            <div class="vc-content-widget__counter" ng-if="data.themesCount >= 0">
              {{data.themesCount}}
            </div>
          </div>
          <div class="tile vc-content-widget" ng-click="blade.openPages(data)">
            <div class="vc-content-widget__icon">
              <i class="fa fa-file-text"></i>
            </div>
            <div class="vc-content-widget__title">
              {{ 'content.blades.content-main.labels.pages' | translate }}
            </div>
            <div class="vc-content-widget__counter" ng-if="data.pagesCount >= 0">
              {{data.pagesCount}}
            </div>
          </div>
          <div class="tile vc-content-widget" ng-click="blade.openBlogs(data)">
            <div class="vc-content-widget__icon">
              <i class="fa fa-file-text-o"></i>
            </div>
            <div class="vc-content-widget__title">
              {{ 'content.blades.content-main.labels.blogs' | translate }}
            </div>
            <div class="vc-content-widget__counter" ng-if="data.blogsCount >= 0">
              {{data.blogsCount}}
            </div>
          </div>
          <div class="tile vc-content-widget" ng-click="blade.openLinkLists(data)">
            <div class="vc-content-widget__icon">
              <i class="fa fa-link"></i>
            </div>
            <div class="vc-content-widget__title">
              {{ 'content.blades.content-main.labels.link-lists' | translate }}
            </div>
            <div class="vc-content-widget__counter" ng-if="data.listLinksCount >= 0">
              {{data.listLinksCount}}
            </div>
          </div>
        </div>
        <div ng-repeat-end class="form-group" ng-if="thereIsWidgetToShow">
          <va-widget-container group="contentMainListItem" gridster-opts="{columns: 6}" data="data" blade="blade"></va-widget-container>
        </div>
      </div>
      <p class="text" ng-if="!blade.currentEntities.length">
        {{ 'content.blades.content-main.labels.no-stores' | translate }}
        <!--<span va-permission="!store:create">and you have insufficient permissions to create a Store.</span>-->
        <div va-permission="store:access" ng-if="!blade.currentEntities.length"><a class="list-link" ng-click="openStoresModule()"><i class="form-ico fa fa-archive"></i> Stores</a></div>
      </p>
    </div>
  </div>
</div>